*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url(universo.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	color: gray;
}

#cabecalho{
	text-align: center;
	
}

#pokemon{
	size: cover;
}

#assunto{
	width: 1000px;
	padding: 100px;
	padding-top: 30px;
	margin-top: 40px;
	background-color: #090c0e;
}

h2{
	margin-bottom: 20px;
	text-align: center;
	color: gray;
}

#flexbox{
	display: flex;
}

p{
	margin: 30px;
	color: white;
}

#rodape{
	margin:;
}